<%= form_for(@my_lunch) do |f| %>
  <% if @my_lunch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@my_lunch.errors.count, "error") %> prohibited this my_lunch from being saved:</h2>

      <ul>
      <% @my_lunch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meal %><br>
    <%= f.text_field :meal %>
  </div>
  <div class="field">
    <%= f.label :bu %><br>
    <%= f.number_field :bu %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
